# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

# JAVASCRIPT SNIPPETS
# ============================================================
'.source.js':

  # ATOM PLUGIN SNIPPETS
  # ============================================================
  "editor-fold":
    "prefix": "// e"
    "body": "// <editor-fold desc='$1'>\n// </editor-fold>"


  # ANGULAR SNIPPETS
  # ============================================================
  'app':
    'prefix': 'app'
    'body': """
            // INITILIZE APP
            // ============================================================
            var app = angular.module("${1:app}", [$2]);

            $3
            """



  'controller':
    'prefix': 'ctrl'
    'body': """
            // INITILIZE CONTROLLER
            // ============================================================
            ${2:angular.module("${1:app}")}.controller("${3:main}Ctrl", function($scope) {

              // VARIABLES
              // ============================================================
              $4

              // FUNCTIONS
              // ============================================================


            });
            """



  'service':
    'prefix': 'serv'
    'body': """
            // INITILIZE SERVICE
            // ============================================================
            ${2:angular.module("${1:app}")}.service("${3:collection}Service", function($http) {

              // CRUD FUNCTIONS
              // ============================================================
              this.get${4:Collection} = function(id) {
                var query = "";
                if (id) query = '?_id=' + id;
                return $http({
                  method: 'GET',
                  url: '/${5:collection}' + query
                }).then(function(response) {
                  if (response.data.length < 2) return response.data[0];
                  return response.data;
                });
              };
              this.create${4:Collection} = function(${6:collection}) {
                return $http({
                  method: 'POST',
                  url: '/${5:collection}',
                  data: ${6:collection}
                }).then(function(response) {
                  return response;
                });
              };
              this.edit${4:Collection} = function(id, ${6:collection}) {
                return $http({
                  method: 'PUT',
                  url: "/${5:collection}/" + id,
                  data: ${6:collection}
                }).then(function(response) {
                  return response;
                });
              };
              this.delete${4:Collection} = function(id) {
                return $http({
                  method: 'DELETE',
                  url: '/${5:collection}/' + id
                }).then(function(response) {
                  return response;
                });
              };

              // OTHER FUNCTIONS
              // ============================================================
              $7

            });
            """



  'authService':
    'prefix': 'authServ'
    'body': """
            // INITILIZE SERVICE
            // ============================================================
            ${2:angular.module("${1:app}")}.service("authService", function($http) {

              // AUTH FUNCTIONS
              // ============================================================
              this.login = function(user) {
                return $http({
                  method: 'post',
                  url: '/login',
                  data: user
                }).then(function(response) {
                  return response;
                });
              };
              this.logout = function() {
                return $http({
                  method: 'get',
                  url: '/logout'
                }).then(function(response) {
                  return response;
                });
              };
              this.getCurrentUser = function() {
                return $http({
                  method: 'GET',
                  url: '/me'
                }).then(function(response) {
                  return response;
                });
              };
              this.registerUser = function(user) {
                return $http({
                  method: 'POST',
                  url: '/register',
                  data: user
                }).then(function(response) {
                  return response;
                });
              };
              this.editUser = function(id, user) {
                return $http({
                  method: 'PUT',
                  url: "/user/" + id,
                  data: user
                }).then(function(response) {
                  return response;
                });
              };

              // OTHER FUNCTIONS
              // ============================================================
              $3

            });
            """



  'route/s config':
    'prefix': 'config'
    'body': """
              // CONFIG
              // ============================================================
              ${2:angular.module("${1:app}")}.config(function($stateProvider, $urlRouterProvider) {

                // INITILIZE STATES
                // ============================================================
                $stateProvider

                  // ${3:HOME} STATE
                  .state('${4:home}', {
                    url: '/${5:${4:home}}',
                    templateUrl: './app/routes/${6:${4:home}}/${7:${4:home}}Tmpl.html',
                    controller: '${8:${4:home}}Ctrl'
                  })${9:;}
                  $10

                // ASSIGN OTHERWISE
                // ============================================================
                $urlRouterProvider.otherwise('/${4:home}');
              });
            """



  'state':
    'prefix': 'state'
    'body': """

            // ${1:HOME} STATE
            .state('${2:home}', {
              url: '/${3:${2:home}}',
              templateUrl: './app/routes/${4:${2:home}}/${5:${2:home}}Tmpl.html',
              controller: '${6:${2:home}}Ctrl'
            })${7:;}
            $8
            """



  'directive':
    'prefix': 'dir'
    'body': """
            // INITILIZE DIRECTIVE
            // ============================================================
            ${2:angular.module("${1:app}")}.directive('${3:some}Dir', function() {
              return {
                restrict: '${4:EA}',
                templateUrl: './app/directives/${5:${3:some}}/${6:${3:some}}Tmpl.html',
                controller: '${7:${3:some}}Ctrl'
              };
            });
            $8
            """



  'console.log':
    'prefix': 'con'
    'body': """
            console.log($1);
            $2
            """



  '.then':
    'prefix': 'then'
    'body': """
            .then(function(response) {
              $1
            });
            """



  '.catch':
    'prefix': 'catch'
    'body': """
            .catch(function(err) {
              $1
            });
            """



  'Server':
    'prefix': 'server'
    'body': """
            // REQUIRE DEPENDENCIES
            // ============================================================
            var express = require('express');
            var cors = require('cors');
            var bodyParser = require('body-parser');
            var mongoose = require('mongoose');

            // CONTROLLERS
            // ============================================================
            var ${1:model}Ctrl = require('./controllers/${1:model}Ctrl');

            // INITILIZE APP
            // ============================================================
            var app = express();

            // INITILIZE DEPENDENCIES
            // ============================================================
            app.use(cors());
            app.use(bodyParser.json());

            // ENDPOINTS
            // ============================================================
            // ${2:MODEL} ENDPOINTS
            app.get('/${3:model}', ${1:model}Ctrl.read);
            app.post('/${3:model}', ${1:model}Ctrl.create);
            app.put('/${3:model}/:id', ${1:model}Ctrl.update);
            app.delete('/${3:model}/:id', ${1:model}Ctrl.delete);

            // VARIABLES
            // ============================================================
            var port = ${4:3000};
            var mongoURI = 'mongodb://localhost:27017/${3:DBName}';

            // MONGO CONNECTION
            // ============================================================
            mongoose.set('debug', true);
            mongoose.connect(mongoURI);
            mongoose.connection.once('open', function() {
              console.log('Connected to mongo at: ', mongoURI);
            });

            // LISTEN
            // ============================================================
            app.listen(port, function() {
              console.log('listening on port ', port);
            });
            """



  'Endpoints':
    'prefix': 'end'
    'body': """
            // ${1:MODEL} ENDPOINTS
            app.get('/${2:model}', ${3:model}Ctrl.read);
            app.post('/${2:model}', ${3:model}Ctrl.create);
            app.put('/${2:model}/:id', ${3:model}Ctrl.update);
            app.delete('/${2:model}/:id', ${3:model}Ctrl.delete);

            $4
            """



  'Server Controller':
    'prefix': 'sctrl'
    'body': """
            // REQUIRE DEPENDENCIES
            // ============================================================
            var ${1:Model} = require('./../models/${1:Model}');

            // EXPORT METHODS
            // ============================================================
            module.exports = {

              // CRUD METHODS
              // ============================================================
              read: function(req, res) {
                ${1:Model}.find(req.query, function(err, ${2:result}) {
                  if (err) {
                    res.status(500).send(err);
                  }
                  res.status(200).send(${2:result});
                });
              },
              create: function(req, res) {
                ${1:Model}.create(req.body, function(err, ${2:result}) {
                  if (err) {
                    res.status(500).send(err);
                  }
                  res.status(200).send(${2:result});
                });
              },
              update: function(req, res) {
                ${1:Model}.findByIdAndUpdate(req.params.id, req.body, function(err, ${2:result}) {
                  if (err) {
                    res.status(500).send(err);
                  }
                  res.status(200).send(${2:result});
                });
              },
              delete: function(req, res) {
                ${1:Model}.findByIdAndRemove(req.params.id, function(err, ${2:result}) {
                  if (err) {
                    res.status(500).send(err);
                  }
                  res.status(200).send(${2:result});
                });
              }

              // OTHER METHODS
              // ============================================================
              $3

            };
            """



  'Schema':
    'prefix': 'schema'
    'body': """
            // REQUIRE DEPENDENCIES
            // ============================================================
            var mongoose = require('mongoose');

            // DEFINE SCHEMA
            // ============================================================
            var ${1:model}Schema = mongoose.Schema({
              $3
            });

            // EXPORT SCHEMA
            // ============================================================
            module.exports = mongoose.model('${2:Model}', ${1:model}Schema);
            """


  # REACT SNIPPETS
  # ============================================================
  'React':
    'prefix': 'react'
    'body': """
            import React, {Component} from 'react';
            export default class App extends Component {
              constructor(props){
                super(props);
                this.state = {};
              }
              render() {
                return(
                  <div>
                  </div>
                );
              }
            }
            """



  'Div':
    'prefix': 'div'
    'body': """
            <div className="$1">
              $2
            </div>
            """



  'Input':
    'prefix': 'input'
    'body': """
            <input className="$1" type="${2:text}" placeholder="$3" onChange={ (event) => this.${1:functionName}(event.target.value)} />
            $4
            """



  'Button':
    'prefix': 'button'
    'body': """
            <button className="$1" type="button" onClick={}>$2</button>
            $3
            """



  'Header':
    'prefix': 'h1'
    'body': """
            <h${1:1} className="$2">$3</h${1:1}>
            $4
            """



  'Link':
    'prefix': 'a'
    'body': """
            <a href="$1">$2</a>
            $3
            """



  'Image':
    'prefix': 'img'
    'body': """
            <img src="$1">$2</img>
            $3
            """



  'Peragraph':
    'prefix': 'p'
    'body': """
            <p className="$1">$2</p>
            $3
            """



  'Select':
    'prefix': 'select'
    'body': """
            <select onChange={ (event) => this.${1:functionName}(event.target.value)}>
              <option value="$2">$3</option>
            </select>
            $4
            """


  # GULP SNIPPET
  # ============================================================
  'gulpfile':
    'prefix': 'gulp'
    'body': """
            // REQUIRE DEPENDENCIES
            // ============================================================
            var gulp = require('gulp');
            var concat = require('gulp-concat');
            var annotate = require('gulp-ng-annotate');
            var uglify = require('gulp-uglify');
            var watch = require('gulp-watch');
            var sass = require('gulp-sass');
            var babel = require('gulp-babel');

            // DECLARE FILE PATHS
            // ============================================================
            var paths = {
              jsSource: ['./public/app/**/*.js', '!/public/bundle.js'],
              sassSource: ['./public/${1:app}/**/*.sass']
            };

            // DEFINE TASKS
            // ============================================================
            gulp.task('js', function() {
              return gulp.src(paths.jsSource)
              //.pipe(babel()) //Uncomment if using ES6
              .pipe(concat('bundle.js'))
              .pipe(annotate())
              //.pipe(uglify()) //Uncomment when code is production ready
              .pipe(gulp.dest('./public'));
            });

            gulp.task('sass', function () {
              return gulp.src(paths.sassSource)
                .pipe(sass())
                .pipe(concat('style.css'))
                .pipe(gulp.dest('./public'));
            });
            $2
            // WATCH TASKS
            // ============================================================
            gulp.task('watch', function() {
              gulp.watch(paths.jsSource, ['js']);
              gulp.watch(paths.sassSource, ['sass']);
            });

            // RUN DEFAULT TASK - first thing to run when gulp is called
            // ============================================================
            gulp.task('default', ['watch', 'js', 'sass']);
            """


# HTML SNIPPETS
# ============================================================
'.text.html, .text.html .meta.scope.between-tag-pair, .text.html .punctuation.tag.begin':


  'ng-view':
    'prefix': 'ng-view'
    'body': """
            <!-- VIEW -->
            <ng-view></ng-view>
            """



  'modal template':
    'prefix': 'modal'
    'body': """
            <!-- MODAL TEMPLATE -->
            <div class="overlay">

            </div>
            <div class="fade" ${1:ng-click="close()"}></div>
            """


# CSS SNIPPETS
# ============================================================
'.source.css':
  'modal classes':
    'prefix': 'modal'
    'body': """
            // MODAL OVERLAY
            // ============================================================
            .overlay {
              color: black;
              position: fixed
              top: 50%
              left: 50%
              transform: translate(-50%, -50%)
              padding: 25px;
              background-color: #ffffff;
              z-index: 100;
              overflow: auto;
              border-radius: 3px;
              border: 1px solid #C0C3C5;
            }

            // MODAL FADE
            // ============================================================
            .fade {
              position: fixed;
              left: 0%;
              top: 0%;
              background-color: black;
              -moz-opacity: 0.7;
              opacity: .70;
              filter: alpha(opacity=70);
              width: 100%;
              height: 100%;
              z-index: 99;
            }
            """
